.home-footer-container{
    background-color:rgba(239, 255, 250, 1) !important;
    .home-footer-body{
        height: 45px;
        display: flex;
        justify-content: center;   
        align-items: center;      
        padding-top: 13px;
        
    }
}

