
.doctor-schedule-container {
   
    .all-schedule {
        position: relative;
        width: fit-content;
        border-bottom: 1px solid #ccc;
        padding-bottom: 4px solid #ccc;
        
        select {
            background: transparent;
            border: none;
            font-size: 16px;
            font-weight: 600;
            color: rgb(51, 122, 183);
            // padding: 4px 24px 4px 0;
            
            outline: none;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
            position: relative;
            width: auto; 
            margin-right: 11px;
        }

        &::after {
           content: '';
            position: absolute;
            top: 45%;
            right: 1px; 
            transform: translateY(-40%) rotate(45deg);
            width: 6px;
            height: 6px;
            margin-bottom: 20px !important ;
            border-right: 2px solid rgb(51, 122, 183);
            border-bottom: 2px solid rgb(51, 122, 183);
            pointer-events: none;
        }
    }

    .all-available-time {
        
    .text-calendar {
        align-items: center;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
        padding-top: 15px;
        text-transform: uppercase;
        i {
            margin-right: 8px !important;
            color: #333; /* hoặc màu xám nhạt nếu muốn */
            
        }
        
    }

    .time-content {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        button {
            padding: 11px 10px;
            background-color: #e0e0e0;
            border: none;
            outline: none;
            border-radius: 4px;
            font-weight: 500;
            min-width: 120px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                background-color: #00bcd4; /* màu xanh ngọc */
                color: white; /* chữ trắng để dễ nhìn */
                cursor: pointer;
            }           
        }
        .no-schedule{
            font-style: italic;
            font-size: 15px;
        }
    }

    .booking-note {
        padding-top: 10px;
        font-size: 13px;
        color: #333;
        display: flex;
        align-items: center;
        gap: 6px;
        
    }

    .booking-note i {
        font-size: 13px;    
    }
}
}