.login-background {
  height: 100vh;
  background: linear-gradient(135deg, #22c1c3, #fdbb2d);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-container {
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 12px;

    .login-content {
      padding: 20px;

      .text-login {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
        
      }

      .login-input {
        margin: 10px 0;
        .form-control{
            margin-top: 3px;
            height: 35px;
        }
        .custom-input-password {
          position: relative;

          i {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }

      .btn-father {
        .btn-login {
          width: 100%;
          height: 40px;
          margin: 15px 0;

          border: none;
          border-radius: 20px;
          outline: none;

          color: #fff;
          font-size: 16px;

          background: linear-gradient(135deg, #22c1c3, #fdbb2d);
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            opacity: 0.9;
          }
        }
      }

      .spn-father {
        .forgot-pass {
          font-size: 12px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .social-login {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 15px;

        i {
          font-size: 20px;
        }

        .social-icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;

          display: flex;
          align-items: center;
          justify-content: center;

          color: #fff;
          cursor: pointer;
        }

        
      }
    }
  }
}